<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{title}}
  </title>
  {% if description %}
  <meta name="description" content="{{description}}" />
  {% endif %}
  {% block head %}{% endblock %}
  <title>Aderyn Building Consultancy | Building Surveyors Cardiff &amp; Swansea</title>
  <meta name="description"
    content="Aderyn Building Consultancy are Building Surveying Professionals in Wales offering a variety of Building Surveying Services in Cardiff &amp; Swansea" />
  <meta name="robots" content="noodp,noydir" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel='dns-prefetch' href='//fonts.googleapis.com' />
  <link rel='dns-prefetch' href='//s.w.org' />
  <link rel="canonical" href="https://aderynbc.com/" />


  <link rel='stylesheet' id='enterprise-pro-theme-css' href='/static/css/style.css' type='text/css' media='all' />
  <link rel='stylesheet' id='google-fonts-css'
    href='//fonts.googleapis.com/css?family=Lato%3A300%2C700%2C300italic%7CTitillium+Web%3A600&#038;ver=2.0.1'
    type='text/css' media='all' />

  <script type='text/javascript' src='/static/js/jquery.js'></script>
  <script type='text/javascript' src='/static/js/jquery-migrate.min.js'></script>
  <script type='text/javascript' src='/static/js/responsive-menu.js'></script>

  <style type="text/css">
    .site-title a {
      background: url(/static/images/resized-header.png) no-repeat !important;
    }
  </style>
</head>

<body
  class="home page-template-default page page-id-2 custom-header header-image full-width-content enterprise-pro-teal enterprise-pro-home"
  itemscope itemtype="https://schema.org/WebPage">

  <div class="site-container">
    {% include "./partials/header.html" %}

    {% include "./partials/nav.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

  </div>


  {% if path == "home" %}
  <!-- Netlify Identity Widget -->
  <!-- Needed only if you are using Netlify Identity feature -->
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% endif %}

  <script type='text/javascript' src='/static/js/wp-embed.min.js'></script>

</body>

</html>