<header class="site-header" itemscope itemtype="https://schema.org/WPHeader">
    <div class="wrap">
        <div class="title-area">
            <p class="site-title" itemprop="headline">
                <a href="https://aderynbc.com/">Aderyn</a>
            </p>
            <p class="site-description" itemprop="description">Aderyn Building Surveyors Cardiff</p>
        </div>
        <div class="widget-area header-widget-area">
            <section id="text-5" class="widget widget_text">
                <div class="widget-wrap">
                    <div class="textwidget">
                        <p><span style="font-weight: bold; font-size: 1.5em;">Cardiff Office: 029 2056 8136 </span></p>
                        <p><span style="font-weight: bold; font-size: 1.5em;">Swansea Office: 01792 805100</span></p>
                        <p>info@aderynbc.com</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</header>