<nav class="nav-primary" itemscope itemtype="https://schema.org/SiteNavigationElement">
    <div class="wrap">
        <ul id="menu-primary-navigation" class="menu genesis-nav-menu menu-primary">
            <li id="menu-item-539" class="first menu-item menu-item-type-custom menu-item-object-custom menu-item-539">
                <a href="https://www.aderynbc.com" itemprop="url"><span itemprop="name">Home</span></a></li>
            <li id="menu-item-562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-562"><a
                    href="/about-us" itemprop="url"><span itemprop="name">About Us</span></a></li>
            <li id="menu-item-855"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-855"><a
                    href="#" itemprop="url"><span itemprop="name">Building Surveys</span></a>
                <ul class="sub-menu">
                    <li id="menu-item-689"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-689"><a
                            href="/due-diligence-building-surveys" itemprop="url"><span itemprop="name">Due Diligence
                                Building Surveys</span></a></li>
                    <li id="menu-item-724"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-724"><a
                            href="/vendor-surveys" itemprop="url"><span itemprop="name">Vendor Surveys</span></a></li>
                    <li id="menu-item-714"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-714"><a
                            href="/planned-preventative-maintenance-surveys" itemprop="url"><span
                                itemprop="name">Planned Preventative Maintenance Surveys</span></a></li>
                    <li id="menu-item-715"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-715"><a
                            href="/building-pathology-defect-diagnosis" itemprop="url"><span itemprop="name">Building
                                Pathology / Defect Diagnosis</span></a></li>
                </ul>
            </li>
            <li id="menu-item-702" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702"><a
                    href="/party-wall-matters" itemprop="url"><span itemprop="name">Party Wall Matters</span></a></li>
            <li id="menu-item-871"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-871"><a
                    href="#" itemprop="url"><span itemprop="name">Services</span></a>
                <ul class="sub-menu">
                    <li id="menu-item-856"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-856">
                        <a href="#" itemprop="url"><span itemprop="name">Landlord and Tenant</span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-726"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-726"><a
                                    href="/dilapidations" itemprop="url"><span itemprop="name">Dilapidations</span></a>
                            </li>
                            <li id="menu-item-717"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-717"><a
                                    href="/licence-to-alter" itemprop="url"><span itemprop="name">Licence to
                                        Alter</span></a></li>
                            <li id="menu-item-677"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-677"><a
                                    href="/feasibility-studies" itemprop="url"><span itemprop="name">Feasibility
                                        Studies</span></a></li>
                            <li id="menu-item-716"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-716"><a
                                    href="/reinstatement-cost-assessments" itemprop="url"><span
                                        itemprop="name">Reinstatement Cost Assessments</span></a></li>
                            <li id="menu-item-688"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-688"><a
                                    href="/schedules-of-condition" itemprop="url"><span itemprop="name">Schedules of
                                        Condition</span></a></li>
                        </ul>
                    </li>
                    <li id="menu-item-858"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-858">
                        <a href="#" itemprop="url"><span itemprop="name">Project Delivery</span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-705"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-705"><a
                                    href="/contract-administration" itemprop="url"><span itemprop="name">Contract
                                        Administration</span></a></li>
                            <li id="menu-item-704"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-704"><a
                                    href="/project-management" itemprop="url"><span itemprop="name">Project
                                        Management</span></a></li>
                            <li id="menu-item-703"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-703"><a
                                    href="/cdm-2015" itemprop="url"><span itemprop="name">CDM 2015</span></a></li>
                        </ul>
                    </li>
                    <li id="menu-item-859"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-859">
                        <a href="#" itemprop="url"><span itemprop="name">Professional Services</span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-725"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-725"><a
                                    href="/exit-strategies" itemprop="url"><span itemprop="name">Exit
                                        Strategies</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="menu-item-593" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-593"><a
                    href="/accreditations" itemprop="url"><span itemprop="name">Accreditations</span></a></li>
            <li id="menu-item-617" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-617"><a
                    href="/contact-us" itemprop="url"><span itemprop="name">Contact Us</span></a></li>
            <li id="menu-item-1018" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1018"><a
                    href="/privacy" itemprop="url"><span itemprop="name">Privacy Statement</span></a></li>
        </ul>
    </div>
</nav>